In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('data/players.csv', index_col = [0])
df = df.reset_index(drop=True)
df['first_name'] = df.name.str.split().str[0]
df['last_name'] = df.name.str.split().str[1:].str.join(" ")

In [50]:
df

,number,name,position,birthday,age,height,foot,joined,contract,value,squad,twitter,first_name,last_name
0,24,André Onana,Goalkeeper,"Apr 2, 1996",25,190,right,"Jan 14, 2015","Jun 30, 2022",15000000.0,Ajax,@AndreyOnana,André,Onana
1,16,Jay Gorter,Goalkeeper,"May 30, 2000",21,190,right,"Jul 1, 2021","Jun 30, 2025",1500000.0,Ajax,@gorterjay,Jay,Gorter
2,1,Maarten Stekelenburg,Goalkeeper,"Sep 22, 1982",39,197,right,"Aug 1, 2020","Jun 30, 2022",550000.0,Ajax,@MStekelenburg,Maarten,Stekelenburg
3,-,Przemyslaw Tyton,Goalkeeper,"Jan 4, 1987",35,195,right,"Mar 7, 2022","Jun 30, 2022",300000.0,Ajax,@PrzemyslawTyton,Przemyslaw,Tyton
4,32,Remko Pasveer,Goalkeeper,"Nov 8, 1983",38,187,right,"Jul 1, 2021","Jun 30, 2023",250000.0,Ajax,-,Remko,Pasveer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,11.0,Mats Köhlert,Left Winger,"May 2, 1998",23,168,left,"Jul 1, 2019","Jun 30, 2022",700000.0,Willem II,-,Mats,Köhlert
478,14.0,Elton Kabangu,Left Winger,"Feb 8, 1998",24,178,left,"Aug 27, 2019","Jun 30, 2022",350000.0,Willem II,@Kabangsss,Elton,Kabangu
479,7.0,Ché Nunnely,Right Winger,"Feb 4, 1999",23,170,right,"Jul 1, 2019","Jun 30, 2022",900000.0,Willem II,@CheNunnely,Ché,Nunnely
480,10.0,Argyris Kampetsis,Centre-Forward,"May 6, 1999",22,186,both,"Aug 31, 2021","Jun 30, 2022",600000.0,Willem II,-,Argyris,Kampetsis
481,9.0,Jizz Hornkamp,Centre-Forward,"Mar 7, 1998",24,182,right,"Jan 24, 2022","Jun 30, 2024",400000.0,Willem II,-,Jizz,Hornkamp